<div class="fh5co-entry padding" style="background-color: #655744">
    <img src="/content/images/stores-2.jpg">
    <div>
        <span class="fh5co-post-date">Select one store to see the available products</span>
        <p>
            <select id="storeSelect">
                <option value="">Select</option>
            </select>
        </p>
    </div>
</div>

<div id="articlesContainer">
</div>

@section scripts{
    @Scripts.Render("~/bundles/main")
}